@charset "utf-8";

/* sunlight oringinal*/
#sunLight{
  border-radius: 100%;
  position: absolute;
  top: 60vh;/*change sun level*/
  left: 80vw;
  width: 8vw;
  height: calc(8vw);
  background: rgba(254, 248, 97, 0.5);
  cursor:pointer;
}

#sunLight .light{
      z-index: 30;
}
.light,.sunL {
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;/* equal to width*/
	background: rgba(254, 248, 97, 0.1);
  -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
}
.sunL{
  background-image: url("../gallery/images/baidu.png"); 
  background-size: 100% 100%; 
  opacity: 0;
}

#sunLight:hover{
  border-width: 3px;
  border-color:white;
  animation-play-state: paused;
	-webkit-box-shadow: 0 0 40px 10px rgba(255, 255, 255, 1);
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 1);
}
#sunLight:hover .sunL{
  opacity:1;
  }

/* ================== Sunlight======================*/

.light:nth-child(1) {
  -webkit-animation: light 5s 0s infinite;
  animation: light 5s 0s infinite;
}

.light:nth-child(2) {
  -webkit-animation: light 6s 0s infinite;
  animation: light 6s 0s infinite;
}

.light:nth-child(3) {
  -webkit-animation: light 7s 0s infinite;
  animation: light 7s 0s infinite;
}

.light:nth-child(4) {
  -webkit-animation: light 3s 0s infinite;
  animation: light 3s 0s infinite;
}

.light:nth-child(5) {
  -webkit-animation: light 2s 0s infinite;
  animation: light 2s 0s infinite;
}

/* ================================= Animation sunlight
*/
@-webkit-keyframes light {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) ;
    transform: translateY(0) ;
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes light {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) ;
    transform: translateY(0) ;
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(0) scale(0);
  }
}
