@charset "utf-8";
/* Spring colorful theme*/
body{
		/*background: radial-gradient(1600px at 70% 120%, #fef6c7 5%, #fef6c7 100%);*/
		background: -webkit-radial-gradient(70% 70%,circle, #fef6c7 5%, #fef6c7 100%);

}
#nana {
	fill: #78A8c0;/*#1860A8;*/
}
#gallery-title{
  color:rgba(117,192,221,1);
  background-color:rgba(216,233,214,.5);
}
/*wave color*/
#feel-the-wave-two
{
	 fill: rgba(117,192,221,.5);/*rgba(34,195,170, .5);*/
}
#feel-the-wave
{
	 fill: rgba(216,233,214,.5);/*rgba(255,255,255,.5);*/
}
/*anniversary*/
#anni{
	stroke: #e98587;
}
#anni:hover{
  fill:rgba(255,255,255,.2);
}
/*===button===*/
.btn{
	color: #e98587;
}
.btn:hover {
	color: pink;
}
/*boat head color*/
.cls-2{
  fill:#d16b90;/*#f29c9c;*/
}
/*boat tail color*/
.cls-3{
	fill:#e1e64e;/*#f3e59a;*/
  }
/* Effect 1 colors */

.color-1.letter__layer:nth-child(3){ stroke: #e98587; }
.color-2.letter__layer:nth-child(3){ stroke: #e1e64e; }
.color-3.letter__layer:nth-child(3){ stroke: #bee1f5; }
.color-4.letter__layer:nth-child(3){ stroke: #abcb39; }
.color-5.letter__layer:nth-child(3){ stroke: #b68cb4; }
.color-6.letter__layer:nth-child(3){ stroke: #feefde; }
/* Effect 2 */
.letters--effect-1 .letter__layer:first-child {
	stroke: #22c3aa;
	stroke-width: 1px;
}

.letters--effect-1 .letter__layer:nth-child(2) {
	stroke: #efc028;
	stroke-width: 4px;
}

.letters--effect-1 .letter__layer:nth-child(3) {
	/*stroke: #e98587;*/
	stroke-width: 10px;
}
