@charset "utf-8";
/*peaceful blue theme*/
.container{
/*		background-image: radial-gradient(1600px at 70% 120%, rgba(107,200,242,1) 10%, rgb(80,100,174) 100%);*/
	background: -webkit-radial-gradient(90% 150%,circle,#f0c0c0 2%, #d8c0d8 40%,#c0c0d8 70%,#c0d8f0 100%);
	
}
#nana {
	fill:#fff;
}
#gallery-title{
  color:rgba(255,255,255,0.8);
  background-color:rgba(0,0,0,0.2);
}
/*wave color*/
#feel-the-wave-two
{
	 fill: rgba(168,216,240,.7);/*rgba(80,100,174, .5);*/
}
#feel-the-wave
{
	 fill: rgba(216,233,214,.2);/*rgba(255,255,255,.5);*/
}
/*anniversar*/
#anni{
	stroke:rgba(105,105,105,0.4);/*rgba(26,65,60,0.5);*/
}
#anni:hover{
  fill:rgba(255,255,255,.2);
}
/*button */
.btn{
	color: #fff0ff;
}
.btn:hover {
	color: #fff;
}
/*boat head color*/
.cls-2{
  fill:#f0a8a8;/*#ff6666;/*rgb(230,28,100);*/
 	stroke: #fff;
	stroke-width: 10px;
}
/*boat tail color*/
.cls-3{
	fill:#c0d8f0;/*#ffff00;/*rgb(255,248,165);*/
	stroke: #fff;
	stroke-width: 10px;
  }
/* Effect 3 */

.letters--effect-1 .letter__layer:first-child {
	-webkit-transform: translate3d(-2px, -2px, 0);
	transform: translate3d(-2px, -2px, 0);
	stroke: rgba(255,255,255,.7);/*rgba(26,65,60,0.5);/*#8a8cb2;*/
	stroke-width: 10px;
}

.letters--effect-1 .letter__layer:nth-child(2) {
	stroke: #fff0d8;/*#ffd661;*/
	stroke-width: 6px;
}

.letters--effect-1 .letter__layer:nth-child(3) {
	stroke:#a8c0d8;/* #8cd6b5;/*#607d8b;*/
	stroke-width: 8px;
}
